﻿@model Project_ReisivadTöötajad.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Person ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonID)
        </dd>

        <dt>
            @Html.DisplayName("First Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Last Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Start Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayName("Person State")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayName("Department Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        @*@{/* TODO: Ära jätta? */}

            <dt>
                @Html.DisplayNameFor(model => model.File.Filename)
            </dt>
            @{/* TODO: Ära jätta? */}

            <dd>
                @Html.DisplayFor(model => model.File.Filename)
            </dd>*@

    </dl>
</div>



<h4>Tal on sellised rollid:</h4>
<ol>
    @foreach (var x in Model.UserInRoles)
    {
        <li> @Html.ActionLink(("- " + x.Role.RoleName), "RemoveRole", new { id = Model.Id, roleid = x.RoleId }) </li>
    }
</ol>
<h4>Neid rolle tal ei ole:</h4>
<ol>
    @foreach (Project_ReisivadTöötajad.Models.Role x in ViewBag.OtherRoles)
    {
        @*<li> @Html.ActionLink(("+ "+x.RoleName), "AddRole", new { id = Model.Id, roleid = x.Id }) </li>*@
        <li> @Html.ActionLink("+ " + x.RoleName, "AddRole", new { id = Model.Id, roleid = x.Id }) </li>
    }
</ol>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
