﻿@model Project_ReisivadTöötajad.Models.SpendingType

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <h4>SpendingType</h4>
    <h4 style="color: red;">Are you sure you want to delete this?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Spending Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpendingName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
