﻿@model Project_ReisivadTöötajad.Models.SpendingType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SpendingType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Spending Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpendingName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
