﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tagarida</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a> @ViewBag.Kasutaja</a></li>
                    <li>@Html.MenuLink("Home", "Index", "Travels")</li>

                    @if (Request.IsAuthenticated)
                    {
                        Project_ReisivadTöötajad.Models.TagaridaEntities db = new Project_ReisivadTöötajad.Models.TagaridaEntities();
                        var people = db.People.Where(x => x.Email == User.Identity.Name).SingleOrDefault();
                        if (people != null)
                        {
                            if (people.UserInRoles.Select(x => x.Role.RoleName).Contains("Töötaja"))
                            {
                                <li>@Html.MenuLink("New application", "Create", "Travels")</li>
                            }
                            if (people.UserInRoles.Select(x => x.Role.RoleName).Contains("Admin"))
                            {
                                <li class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" href="/Home/Contact" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Admin
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="http://localhost:65102/Person">Employees</a></li>
                                        <li><a href="http://localhost:65102/Roles">Roles</a></li>
                                        <li><a href="http://localhost:65102/Departments">Departments</a></li>
                                        <li><a href="http://localhost:65102/SpendingTypes">Expense Types</a></li>
                                        <li><a href="http://localhost:65102/Files"> Files </a></li>
                                    </ul>
                                </li>
                            }
                        }
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tagarida Corporation</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: 'dd.mm.yy'
            });
        });
    </script>

    <script src="Bootstrap/js/jquery.js" type="text/javascript"></script>
    <script src="Bootstrap/js/dropdown.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>

    <script>
        /* Estonian initialisation for the jQuery UI date picker plugin. */
        /* Written by Mart Sõmermaa (mrts.pydev at gmail com). */
        (function (factory) {
            if (typeof define === "function" && define.amd) {
                // AMD. Register as an anonymous module.
                define(["../widgets/datepicker"], factory);
            } else {
                // Browser globals
                factory(jQuery.datepicker);
            }
        }(function (datepicker) {
            datepicker.regional.et = {
                firstDay: 1,
            };
            datepicker.setDefaults(datepicker.regional.et);
            return datepicker.regional.et;
        }));
    </script>
    @*<audio src="..\..\Tagareas.mp3" autoplay="autoplay" loop="loop"></audio>
    <script>
        //Et lehte vahetades laul hakkaks samast kohast mängima (ei tööta korralikult - 1. mängib ette loo alguse või 2. mängib kogu lugu algusest. 
        function setCookie(c_name, value, exdays) {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString());
            document.cookie = c_name + "=" + c_value;
        }

        function getCookie(c_name) {
            var i, x, y, ARRcookies = document.cookie.split(";");
            for (i = 0; i < ARRcookies.length; i++) {
                x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
                y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
                x = x.replace(/^\s+|\s+$/g, "");
                if (x == c_name) {
                    return unescape(y);
                }
            }
        }

        var song = document.getElementsByTagName('audio')[0];
        var played = false;
        var tillPlayed = getCookie('timePlayed');
        function update() {
            if (!played) {
                if (tillPlayed) {
                    song.currentTime = tillPlayed;
                    song.play();
                    played = true;
                }
                else {
                    song.play();
                    played = true;
                }
            }

            else {
                setCookie('timePlayed', song.currentTime);
            }
        }
        setInterval(update, 1000);
    </script>*@
</body>
</html>
