﻿@model Project_ReisivadTöötajad.Models.Travel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Travel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Travel Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelName)
        </dd>

        <dt>
            @Html.DisplayName("Full Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FullName)
        </dd>

        <dt>
            @Html.DisplayName("Person ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PersonID)
        </dd>

        <dt>
            @Html.DisplayName("Travel Destination")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelDestination)
        </dd>

        <dt>
            @Html.DisplayName("Trip Purpose")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripPurpose)
        </dd>

        <dt>
            @Html.DisplayName("Start Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayName("End Date")
            @{/* TODO: Reisipäevade ja ööbimiste arvu arvutamine */}
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayName("Travel Days")
            @{/* TODO: Reisipäevade ja ööbimiste arvu arvutamine */}
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayName("Travel Nights")
            @{/* TODO: Reisipäevade ja ööbimiste arvu arvutamine */}
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NightsDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName("Report State")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportState)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
