﻿@{
    ViewBag.Title = "Admin";
}

<div class="jumbotron">
    <p class="lead">Siin saad hallata dimensiooni tabelite andmeid.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="http://localhost:65102/Files">Failide haldus &raquo;</a></p>  
        <p><a class="btn btn-default" href="http://localhost:65102/SpendingTypes">Kulutüüpide haldus &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:65102/Departments">Osakondade haldus &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:65102/Roles">Rollide haldus &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:65102/Person">Töötajate haldus &raquo;</a></p>
    </div>

</div>