﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Hello, @ViewBag.Kasutaja</h3>
    <p class="lead">.</p>
    @if (Request.IsAuthenticated)
    {
        <h3>Rollid: @ViewBag.Rollid</h3>
        <p><a href="http://localhost:65102/Travels" class="btn btn-primary btn-lg">Travels/Index &raquo;</a></p>
    }
    else
    {
        <p><a href="http://localhost:65102/Account/Login" class="btn btn-primary btn-lg">Log in &raquo;</a></p>

    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
        </p>

        @{/* TODO: Aruanne (20 tk, pool aastat kuvatud) filtripõhine otsing: ; */}
        @{/* TODO: Aruanne: filtripõhine otsing:töötaja, reis, kuupäevavahemik*/}
        @{/* TODO: Aruanne: õigused: töötaja näeb oma aruandeid, juht enda ja töötajate*/}
        
    </div>
    <div class="col-md-4">
        @*<h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://localhost:65102/Person">Töötajate haldus &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        @*<h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://localhost:65102/Departments">Osakondade haldus &raquo;</a></p>*@
    </div>
</div>