﻿@model Project_ReisivadTöötajad.Models.Spending

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Spending</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Spending Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayName("Travel Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Travel.Id)
        </dd>

        <dt>
            @Html.DisplayName("Travel Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Travel.TravelName)
        </dd>

        <dt>
            @Html.DisplayName("Spending Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpendingType.SpendingName)
        </dd>

        <dt>
            @Html.DisplayName("Service Provider")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceProvider)
        </dd>

        <dt>
            @Html.DisplayName("Start Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayName("End date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Travel.DailyAllowance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VatEUR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatEUR)
        </dd>

        <dt>
            @Html.DisplayName("Paid Out")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.File.Filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.Filename)
        </dd>
    </dl>
</div>


@if (Model.Document != null)
{
    <div>
        <img src="@Url.Action("Get", "Files", new { id = Model.Document })" height="120" />
    </div>
}

@*using (Html.BeginForm("AddPicture", "People", FormMethod.Post, new { enctype = "multipart/form-data" }))*@

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
