﻿
@model IEnumerable<Project_ReisivadTöötajad.Models.Spending>

@{
    ViewBag.Title = "Index";
}

<h2>Related expenses (Spendings/Index)</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { travelid = ViewBag.TravelId })   @*travelid väärtuseks paneb spending kontrolleris defineeritud travelid*@
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayName("Travel Id")
        </th>
        <th>
            @Html.DisplayName("Travel Name")
        </th>
        <th>
            @Html.DisplayName("Spending Name")
        </th>
        <th>
            @Html.DisplayName("Service Provider")
        </th>
        <th>
            @Html.DisplayName("Start Date")
        </th>
        <th>
            @Html.DisplayName("Ending Date")
        </th>
        @{/* TODO: Reisipäevade ja ööbimiste arvu arvutamine */}
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Travel.DailyAllowance)
        </th>*@
        @*<th>
            @Html.DisplayName("Paid Out")
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Travel.TravelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpendingType.SpendingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceProvider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        @{/* TODO: Reisipäevade ja ööbimiste arvu arvutamine */}
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Travel.DailyAllowance)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.PaidOut)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
